

out/
.DS_Store
hw1/out/*
hw1/.DS_Store
hw1/.idea/.gitignore
hw1/.idea/misc.xml
hw1/.idea/modules.xml
hw1/hw1 15.53.23.iml

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
